*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerEditStore { /* Contenedor General */
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url("/image/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerOne { /* Container Uno*/
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.containerOne img {
    width: 270px;
    height: auto;
}

.containerOne .buttonBack {
    width: 100px;
    height: auto;
    margin-left: 15px;
}