*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerLoginTourist { /* Contenedor General */
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: url("/image/Fondo\ Turista\ 2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerOne { /* Container Uno*/
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.containerOne img {
    width: 270px;
    height: auto;
}

.containerOne .buttonBack {
    width: 100px;
    height: auto;
    margin-left: 15px;
}

.containerTwo { /* Container Dos*/
    width: 100vw;
    height: 35vh;

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 60px;
}

.buttonStore {
    width: 120px;
    height: auto;
    padding-right: 10px;
}

.containerTree { /* Container Tres*/
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
}

.containerFour { /* Container Cuatro*/
    width: 100vw;
    height: 18vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.buttonStore { /* Efecto para imágenes y botones */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.buttonStore:hover { /* Efecto al pasar el cursor */
    transform: scale(1.1); /* Aumenta el tamaño */
}
.buttonStore:active { /* Efecto de clic */
    transform: scale(0.95); /* Efecto de presión */
}
