*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor General */
.containerStart{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: url("/image/Fondo\ Inicio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor Uno */
.containerOne {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}

.containerOne img {
    width: 410px;
    height: auto;
}

/* Contenedor Dos */
.containerTwo {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.buttonImg {
    width: 110px;
    height: auto;
    margin: 40px;
}

.buttonImg { /* Efecto para imágenes y botones */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.buttonImg:hover { /* Efecto al pasar el cursor */
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); /* Brillo alrededor */
}
.buttonImg:active { /* Efecto de clic */
    transform: scale(0.95); /* Efecto de presión */
}