*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor General */
.containerStart{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: url("/image/Fondo\ Inicio.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor Uno */
.containerOne {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}

.containerOne img {
    width: 410px;
    height: auto;
}

/* Contenedor Dos */
.containerTwo {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.buttonImg {
    width: 110px;
    height: auto;
    margin: 40px;
}