*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
}
.container {
    position: relative;
    display: inline-block;
}
.background-img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
.buttons {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 920px;
}
.button {
    width: 180px;
    height: 180px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 
.button img{
    width: 50px;
    height: 50px;
}